<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error - Page Not Found</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyBtvLaU8S9bqJ2Ixedquv7tSFdhA0QD0D"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
  </head>
  <body>
    <div class="error-container">
      <div class="error-code">404</div>
      <div class="error-message">Oops! Page Not Found</div>
      <p class="back-to-home">
        <a href="/" class="btn btn-primary">Back to Home</a>
      </p>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
      integrity="sha384-X1Gw19N5LXA46J3F5ZiM9vl9O6J1U0JK8EQxFfFb0f5UZ9Tb3IcbK17V98QPaNay"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyBtvLaU8S9bqJ2Ixedquv7tSFdhA0QD0D"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
